<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CW - Login</title>
</head>
<body>
    <h1>Login</h1>
    <% if (message) { %>
        <h3 style="color: red;"><%= message %></h3>
    <% } %>
    <form action="" method="POST">
        <input required autocomplete="off" type="text" name="username" placeholder="username">
        <input required autocomplete="off" type="password" name="password" placeholder="password">
        <button type="submit">Submit</button>
    </form>
</body>
</html>