<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Warriors - Admin - Add Archive</title>
  </head>
  <body>
    <h1>Add Archive</h1>
    <form
      action="/admin/archives/add"
      enctype="multipart/form-data"
      method="POST"
    >
      <input type="text" name="title" required placeholder="Project Title" />
      <br />
      <input
        type="text"
        name="competition"
        required
        placeholder="Competition"
      />
      <br />
      <input type="number" name="year" required placeholder="Year" />
      <br />
      <select name="event">
        <% for (let event of events) { %>
        <option value="<%= event.name %>"><%= event.name %></option>
        <% } %>
      </select>
      <br />
      <select name="category">
        <option value="creative">Creative Work</option>
        <option value="creative-prompts">Creative Prompts</option>
        <option value="quizzes">Quizzes</option>
        <option value="crosswords">Crosswords</option>
      </select>
      <br />
      <input
        type="text"
        name="contributors"
        placeholder="Contributors (separate by commas)"
        required
      />
      <br />
      <input required type="file" accept="image/*" name="img" />
      <br />
      <div class="socials">
        <div class="social">
          <input placeholder="Link Platform" type="text" name="linkPlatform" />
          <input placeholder="Link URL" type="text" name="linkURL" />
        </div>
      </div>
      <h3 style="cursor: pointer" id="addSocial">Add Link</h3>
      <h3 style="cursor: pointer" id="remSocial">Remove Link</h3>
      <button type="submit">Submit</button>
    </form>

    <script>
      let btn = document.querySelector("#addSocial");
      let socials = document.querySelector(".socials");

      btn.addEventListener("click", () => {
        let social = document.createElement("DIV");
        social.classList.add("social");

        let sPlatform = document.createElement("INPUT");
        sPlatform.setAttribute("placeholder", "Link Platform");
        sPlatform.setAttribute("type", "text");
        sPlatform.setAttribute("name", "linkPlatform");

        let sURL = document.createElement("INPUT");
        sURL.setAttribute("placeholder", "Link URL");
        sURL.setAttribute("type", "text");
        sURL.setAttribute("name", "linkURL");

        social.appendChild(sPlatform);
        social.appendChild(sURL);

        socials.appendChild(social);
      });

      let rem = document.querySelector("#remSocial");
      rem.addEventListener("click", () => {
        document.querySelector(".social:last-of-type").remove();
      });
    </script>
  </body>
</html>
