<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Warriors - Admin - Archives</title>
  </head>
  <body>
    <h1>Archives</h1>
    <% if (user.isSupreme) { %>
    <a href="/admin/archives/add">Add</a>
    <hr />
    <% } %> <% for (let archive of archives) { %>
    <h3><%= archive.title %></h3>
    <% if (user.isSupreme) { %>
    <a href="/admin/archives/delete/<%= archive._id %>">Delete</a>
    <a href="/admin/archives/edit/<%= archive._id %>">Edit</a>
    <% } %> <% } %>
    <hr />
  </body>
</html>
