<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Warriors - Admin - Add Field</title>
  </head>
  <body>
    <h1>Add Field</h1>
    <form action="/admin/add-event" method="POST">
      <input required type="text" name="name" placeholder="Field Name" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
