<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Warriors - Admin - Contacts</title>
  </head>
  <body>
    <h1>Contacts</h1>
    <% for (let contact of contacts) { %>
    <h3><%= contact.post %></h3>
    <% if (user.isSupreme) { %>
    <a href="/admin/edit-contact/<%= contact._id %>">Edit</a>
    <a href="/admin/delete-contact/<%= contact._id %>">Delete</a>
    <% } %> <% } %>
    <hr />
    <% if (user.isSupreme) { %>
    <a href="/admin/add-contact">Add a new Contact</a>
    <% } %>
  </body>
</html>
