<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Warriors - Admin - FAQs</title>
  </head>
  <body>
    <h1>FAQ</h1>
    <% for (let faq of faqs) { %>
    <h3><%= faq.question %></h3>
    <% if (user.isSupreme) { %>
    <a href="/admin/edit-faq/<%= faq._id %>">Edit</a>
    <a href="/admin/delete-faq/<%= faq._id %>">Delete</a>
    <% } %> <% } %>
    <hr />
    <% if (user.isSupreme) { %>
    <a href="/admin/add-faq">Add a new faq</a>
    <% } %>
  </body>
</html>
