<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CW - Admin - Members</title>
</head>
<body>
    <% for (let member of members) { %>
        <hr>
        <h3><%= member.name %></h3>
        <% if (user.isSupreme) { %>
            <a href="/admin/delete-member/<%= member._id %>">Delete Member</a>
            <a href="/admin/edit-member/<%= member._id %>">Edit</a>
        <% } %>
        <hr>
    <% } %>
    <hr>
    <% if (user.isSupreme) { %>
        <a href="/admin/add-member">Add Member</a>
    <% } %>
</body>
</html>