<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CW - Admin - Resources</title>
</head>
<body>
    <h1>Resources</h1>
    <% for (let resource of resources) { %>
        <h3><%= resource.name %></h3>
        <% if (user.isSupreme) { %>
            <a href="/admin/resources/edit/<%= resource._id %>">Edit</a>
            <a href="/admin/resources/delete/<%= resource._id %>">Delete</a>
        <% } %>
    <% } %>
    <hr>
    <% if (user.isSupreme) { %>
        <a href="/admin/resources/add">Add Resource</a>
    <% } %>
</body>
</html>