<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Warriors - Admin</title>
  </head>
  <body>
    <h1>Welcome to admin, <%= user.name %></h1>
    <a href="/logout">Logout</a>
    <hr />
    <h2>What's on your mind, captain?</h2>
    <ul>
      <% if (user.isSupreme) { %>
      <li>
        <a href="/admin/change-name">Change my Name</a>
      </li>
      <% } %>
      <li>
        <a href="/admin/users">Users</a>
      </li>
      <li>
        <a href="/admin/members">Members</a>
      </li>
      <li>
        <a href="/admin/alumnis">Alumnis</a>
      </li>
      <li>
        <a href="/admin/blogs">Blogs</a>
      </li>
      <li>
        <a href="/admin/archives">Archives</a>
      </li>
      <li>
        <a href="/admin/resources">Resources</a>
      </li>
      <li>
        <a href="/admin/contacts">Contacts</a>
      </li>
      <li>
        <a href="/admin/faq">FAQs</a>
      </li>
      <li>
        <a href="/admin/events">Fields (for Archive)</a>
      </li>
      <li>
        <a href="/admin/edit-profile">Edit Profile</a>
      </li>
    </ul>
  </body>
</html>
