<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Warriors - Admin - Edit User</title>
  </head>
  <body>
    <h1>Edit User</h1>
    <form action="/admin/edit-user/<%= user._id %>?_method=PUT" method="POST">
      <input type="text" required name="name" placeholder="<%= user.name %>" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
