<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Warriors - Admin - Edit Field</title>
  </head>
  <body>
    <h1>Edit Field</h1>
    <form action="/admin/edit-event/<%= event._id %>?_method=PUT" method="POST">
      <input type="text" name="name" value="<%= event.name %>" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
