<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CW - Admin - All Blogs</title>
</head>
<body>
    <h1>Blogs</h1>
    <% for (let blog of blogs) { %>
        <h3><%= blog.title %></h3>
        <% if (user.isSupreme) { %>
            <a href="/admin/blogs/delete/<%= blog._id %>">Delete</a>
            <a href="/admin/blogs/edit/<%= blog._id %>">Edit</a>
        <% } %>
    <% } %>
    <hr>
    <% if (user.isSupreme) { %>
        <a href="/admin/blogs/add">Add Blog</a>
    <% } %>
</body>
</html>